#form{
	border-style:solid;
}
#left{
  width:50%;
  float:left;
  padding-left:22px;
  height:40%;
}
#right{
  width:38%;
  float:right;
  padding-right:22px
}
#bottton{
   
}
h2{
  text-align:center;
}
h3{
  text-align:left;
  color:#4D4D4D;
}