#header{
  font-family:'RabbidHighwaySignExtendedRegular'; 
   font-weight: normal; 
   font-style: italic; 
  text-align:center;
  width:100%;
  height:20%;
  background-color:green;
}
#left{
  width:50%;
  float:left;
  background-color:yellow;
  padding-right:1px;
  height:5o%;
}
#right{
  
	text-align:justify;
	text-indent: 20 px;
	border-style:dashed ;
  width:48%;
  float:right;
  background-color:D3DED1;

  height:5o%;
}
.clear { clear: both; }
#footer{
	text-align:right;
	color:orange;
  width:100%;
  height:20%;
  background-color:blue;
}